.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  left: 0;
  right: 0;
  position: fixed;
}

.NoContacts {
  position: absolute;
  color: aliceblue;
  z-index: 10;
}
