.Container {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  position: absolute;
  z-index: 5;
  color: #f0f8ff;
  overflow-y: scroll;
}

.Form {
  display: flex;
  position: relative;
  bottom: 16px;
  z-index: 40;
  max-width: 90vw;
  border-radius: 14px;
  border: 12px solid #ffff;
}

.Input {
  width: 100vw;
  border: none;
  outline: none;
  letter-spacing: 0.07rem;
  font-size: 0.9rem;
  background-color: #f2f2f2;
}

.AddButton {
  border: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: blue;
  background-color: #f7f6fb;
  font-size: 1rem;
  cursor: pointer;
}

.CopyIcon {
  font-size: 1.25rem;
  padding-left: 1rem;
  cursor: pointer;
}
@media (min-width: 700px) {
  .Container {
    max-width: 90vw;
    flex-direction: row;
    width: 100vw;
    margin-left: -6vw;
    overflow-y: unset;
  }
  .SendButton {
    font-size: 1.25rem;
  }
  .Input {
    font-size: 1.2rem;
  }
  .Form {
    max-width: 44vw;
  }
}

@media (min-width: 1000px) {
  .Container {
    max-width: 90vw;
    margin-left: -3vw;
  }
  .Form {
    max-width: 40vw;
  }
}

@media (min-width: 1400px) {
  .Container {
    max-width: 90vw;
    margin-left: -3vw;
    justify-content: space-between;
  }
  .Form {
    max-width: 40vw;
  }
}
