.Container {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  position: absolute;
  z-index: 5;
  color: #f0f8ff;
  overflow-y: scroll;
  line-height: 2.1rem;
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
}

.Form {
  display: flex;
  position: relative;
  bottom: 16px;
  z-index: 40;
  max-width: 90vw;
  border-radius: 40px;
  border: 12px solid #ffff;
}

.Input {
  width: 100vw;
  border: none;
  outline: none;
  letter-spacing: 0.07rem;
  font-size: 0.9rem;
  background-color: #fff;
}

.AddButton {
  border: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: blue;
  background-color: #f7f6fb;
  font-size: 1.2rem;
  cursor: pointer;
}

.CopyIcon {
  font-size: 1.25rem;
  padding-left: 1rem;
  cursor: pointer;
}

.Instructions {
  z-index: 10;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  left: 0;
  justify-content: center;
  color: #f0f8ff;
}

.InstructionsContainer {
  display: flex;
  flex-direction: column;
}

.InstructionsParagraph {
  line-height: 2.1rem;
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
  padding: 1.1rem;
}
@media (max-width: 600px) {
  .Container {
    background-color: rgba(0, 0, 0, 0.07);
  }
}
@media (min-width: 700px) {
  .Container {
    max-width: 90vw;
    flex-direction: column;
    margin-left: -6vw;
    overflow-y: unset;
    padding: 3rem;
  }
  .SendButton {
    font-size: 1.25rem;
  }
  .Input {
    font-size: 1.2rem;
  }
  .Form {
    max-width: 44vw;
  }
}

@media (min-width: 1000px) {
  .Container {
    max-width: 90vw;
    margin-left: -3vw;
  }
  .Form {
    max-width: 40vw;
  }
}

@media (min-width: 1400px) {
  .Container {
    max-width: 90vw;
    margin-left: -3vw;
    justify-content: space-between;
  }
  .Form {
    max-width: 40vw;
  }
}
