.Container {
  display: grid;
  grid-gap: 2vw;
  padding: 1.5rem;
  z-index: 5;
  left: 0;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
}

@media (max-width: 700px) {
  .Container {
    display: none;
    height: 90vh;
  }
}

@media (min-width: 1000px) {
  .Container {
    left: 7vw;
    height: 91.5vh;
  }
}
