.Container {
  /* display: grid;
  grid-gap: 2vw; */
  padding: 1.5rem;
  z-index: 20;
  left: 0;
  right: 0;
  position: fixed;
  overflow-y: auto;
  background-color: black;
  height: 100vh;
}

.NoContacts {
  position: absolute;
  color: aliceblue;
  z-index: 10;
}
@media (max-width: 699px) {
  .Container {
    display: none;
  }
}
@media (min-width: 700px) {
  .Container {
    height: 90vh;
    width: 44vw;
    background-color: rgba(0, 0, 0, 0.397);
  }
}

@media (min-width: 1000px) {
  .Container {
    height: 91.5vh;
    margin-left: -5vw;
  }
}

@media (min-width: 1300px) {
  .Container {
    margin-left: -9vw;
  }
}
