.Left {
  display: flex;
  align-self: flex-start;
}

.Right {
  display: flex;
  align-self: flex-end;
}

.LeftTextBox {
  z-index: 20;
  font-family: "Montserrat", sans-serif;
  background-color: #202126;
  color: white;
  border: none;
  padding: 0.7rem 0.7rem;
  border-radius: 1rem;
  border-top-left-radius: 0rem;
  text-align: start;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  width: fit-content;
  align-self: flex-start;
  overflow-wrap: break-word;
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
}

.RightTextBox {
  z-index: 20;
  font-family: "Montserrat", sans-serif;
  background-color: #a73229;
  color: white;
  border: none;
  padding: 0.7rem 0.7rem;
  border-radius: 1rem;
  border-top-right-radius: 0rem;
  text-align: start;
  box-shadow: 0 8px 20px rgba(22, 0, 0, 0.05);
  width: fit-content;
  align-self: flex-end;
  overflow-wrap: break-word;
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 300px) {
  .LeftTextBox {
    max-width: 80vw;
  }

  .RightTextBox {
    max-width: 80vw;
  }
}

.Small {
  align-self: flex-end;
}

@media (min-width: 300px) {
  .Img {
    width: 7vw;
    align-self: end;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 20;
  }
}

@media (min-width: 400px) {
  .Img {
    width: 7vw;
  }
}
@media (min-width: 500px) {
  .Img {
    width: 8vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
@media (min-width: 700px) {
  .Img {
    width: 3vw;
  }
}

@media (min-width: 1440px) {
  .Img {
    width: 2vw;
  }
}
