.UL {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
  list-style-type: none;
  padding-bottom: 60px;
}
.Typing {
  background-color: rgba(0, 0, 0, 0.45);
  border: 2px solid;
  z-index: 20;
  padding: 0.1rem 0.7rem;
  border-radius: 1rem;
  border-top-left-radius: 0rem;
  width: fit-content;
  margin: 0.3rem;
  margin-bottom: 11vh;
  color: #f7f6fb;
  display: flex;
}

.Container {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
}

.PickerContainer {
  display: none;
  z-index: 30;
  align-self: center;
}

.ShowPicker {
  display: block;
  padding-bottom: 80px;
}

.Form {
  display: flex;
  position: fixed;
  bottom: 16px;
  z-index: 40;
  max-width: 90vw;
  border-radius: 50px;
  border: 12px solid #ffff;
  background-color: white;
}

.Input {
  width: 100vw;
  border: none;
  outline: none;
  letter-spacing: 0.07rem;
  font-size: 0.9rem;
  background-color: #ffff;
}

.SendButton {
  border: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: #2329d9;
  background-color: #f7f6fb;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
}

.NoMessages {
  text-align: center;
  z-index: 20;
  font-size: larger;
}

@media (min-width: 700px) {
  .Container {
    max-width: 50vw;
    width: 100vw;
    margin-left: auto;
  }
  .SendButton {
    font-size: 1.25rem;
  }
  .Input {
    font-size: 1.2rem;
  }
  .Form {
    max-width: 50vw;
  }
}

@media (min-width: 1000px) {
  .Container {
    max-width: 46vw;
    margin-left: 36vw;
  }
  .Form {
    max-width: 46vw;
  }
}

@media (min-width: 1300px) {
  .Container {
    max-width: 46vw;
    margin-left: 36vw;
  }
  .Form {
    max-width: 46vw;
  }
}
