@media (min-width: 320px) {
  .Container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 5;
    left: 0;
    right: 0;
    position: relative;
  }
  .Form {
    text-align: center;
    font: 2rem;
    width: fit-content;
    color: #21242a;
    letter-spacing: 0.15rem;
    background-color: #c9e5c8;
    font-family: "Oswald", sans-serif;
    margin: 7vh auto 0px;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
    border-radius: 5px;
    position: absolute;
  }
  .InputForms {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 360px) {
  .Form {
    margin-left: 6vw;
  }
}
@media (min-width: 400px) {
  .Form {
    margin-left: 17vw;
  }
  .Inputs {
    margin: 10px;
  }
}
@media (min-width: 500px) {
  .Inputs {
    margin: 10px;
  }
}
@media (min-width: 768px) {
  .Form {
    font: 2rem;
    flex-direction: row;
    margin-left: -4vw;
  }
  .Inputs {
    margin: 14px;
  }
}

@media (min-width: 1024px) {
  .Form {
    font: 2rem;
    margin-left: 9.5vw;
    justify-content: space-evenly;
  }
  .Inputs {
    margin: 20px;
  }
}

@media (min-width: 1440px) {
  .Form {
    width: 55vw;
    margin-left: 14.5vw;
    font: 2rem;
  }
}
